body {
  background-color: #b3e5fc;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
h2 {
  text-align: center;
  margin: 20px 0;
}
.textLeft {
  text-align: left;
}
.loadingDiv {
  height: 100vh;
  display: grid;
  place-items: center;
}
.card {
  width: 450px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
}
.image {
  min-width: 155px;
  margin-right: 20px;
}
.stats {
  background: #f2f5f8 !important;
  color: #000 !important;
}
.articles {
  font-size: 10px;
  color: #a1aab9;
}
.number1 {
  font-weight: 500;
}
.followers {
  font-size: 10px;
  color: #a1aab9;
}
.number2 {
  font-weight: 500;
}
.rating {
  font-size: 10px;
  color: #a1aab9;
}
.number3 {
  font-weight: 500;
}
.platform{
  margin-right: 50px;
}
.Search{
  padding: 2vh 10vh;
  border-radius: 25px;

}
.sort-dropdown{
  display: flex;
  justify-content: center;
  align-items: center;
}
.asc-desc-sort{
  margin: 3px 5px;
  border: 2px solid black;
  border-radius: 12px;
  cursor: pointer;
  background-color: rgb(190, 233, 233);
}
.asc-desc-sort:hover{
  border-radius: 5px;
  background: black;
  color: #f2f5f8;

}